<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.analysis.db.common.CommonMapper">

	<select id="selectBattery" resultType="com.hot.analysis.bean.common.BatteryDiagramVO">
		<!-- 根据模块ID查询设备电量分布(杨) -->
		SELECT
		SUM(
		CASE
		WHEN t1.Battery <![CDATA[<]]>
		20
		THEN 1
		ELSE 0
		END
		)
		AS lbcount,
		SUM(
		CASE
		WHEN t1.Battery >= 20
		THEN 1
		ELSE 0
		END
		)
		AS count,
		t2.`moduleid` AS moduleid
		FROM
		<if test="moduleid == 1">t_device_dc</if>
		<if test="moduleid == 2">t_device_yg</if>
		<if test="moduleid == 3">t_device_jg</if>
		<if test="moduleid == 8">t_device_hw</if>
		<if test="moduleid == 9">t_device_ljt</if>
		<if test="moduleid == 10">t_device_sj</if>
		<if test="moduleid == 11">t_device_mc</if>
		<if test="moduleid == 12">t_device_krq</if>
		<if test="moduleid == 13">t_device_ywj</if>
		t1
		INNER JOIN t_device_group t2
		ON t2.`moduleid` = #{moduleid}
		AND
		t2.`isdelete` = 0
		INNER JOIN t_device_group_relation t3
		ON t3.`groupid`
		= t2.`id`
		AND t3.`moduleid` = #{moduleid}
		AND t3.`isdelete` = 0
		AND
		t3.`deviceid` = t1.`id`
		INNER JOIN t_user_dgroup_relation t4
		ON
		t4.`devicegroupid` = t2.`id`
		AND t4.`isdelete` = 0
		AND t4.`adduserid` =
		#{userid}
		AND t3.`adduserid` = t4.`adduserid`
		WHERE t1.`isdelete` = 0
		<if test="starttime!=null">
			AND t1.`addtime` >= #{starttime}
		</if>
		<if test="endtime!=null">
			AND t1.`addtime` &lt;= #{endtime}
		</if>
	</select>

	<select id="selectDevOpenTimes" resultType="com.hot.analysis.bean.common.DevOpenTimesVO">
		<!-- 根据模块ID查询设备开启次数(杨) -->
		SELECT
		<if test="querytype==2">
			DATE_FORMAT(t1.`addtime`, '%Y-%m') AS dateTime,
		</if>
		<if test="querytype==1">
			DATE(t1.`addtime`) AS DATETIME,
		</if>
		COUNT(t1.`id`) AS openCount,
		t5.`moduleid` AS moduleid
		FROM
		t_dev_alarm
		t1
		INNER JOIN t_dev_alarm_state t2
		ON t1.`alarmstateid` = t2.`id`
		AND
		t2.`module_id` = #{moduleid}
		AND t2.`isdelete` = 0
		INNER JOIN
		<if test="moduleid == 1">t_device_dc</if>
		<if test="moduleid == 2">t_device_yg</if>
		<if test="moduleid == 3">t_device_jg</if>
		<if test="moduleid == 8">t_device_hw</if>
		<if test="moduleid == 9">t_device_ljt</if>
		<if test="moduleid == 10">t_device_sj</if>
		<if test="moduleid == 11">t_device_mc</if>
		<if test="moduleid == 12">t_device_krq</if>
		<if test="moduleid == 13">t_device_ywj</if>
		t3
		ON t1.`deviceid` = t3.`id`
		AND t1.`moduleid` = #{moduleid}
		INNER JOIN
		t_device_group_relation t4
		ON t4.`deviceid` = t3.`id`
		AND t4.`isdelete`
		= 0
		AND t4.`moduleid` = #{moduleid}
		INNER JOIN t_device_group t5
		ON
		t5.`id` = t4.`groupid`
		AND t5.`isdelete` = 0
		AND t5.`moduleid` =
		#{moduleid}
		INNER JOIN t_user_dgroup_relation t6
		ON t6.`devicegroupid` =
		t5.`id`
		AND t6.`isdelete` = 0
		INNER JOIN t_user t7
		ON t7.`id` =
		t6.`userid`
		AND t7.`isdelete` = 0
		AND t7.`id` = #{userid}
		<if test="querytype==2">
			GROUP BY DATE_FORMAT(t1.`addtime`, '%Y-%m')
		</if>
		<if test="querytype==1">
			GROUP BY DATE(t1.`addtime`)
		</if>
	</select>

	<select id="selectDevAgingRate" resultType="com.hot.analysis.bean.common.DevAgingRateVO">
		<!-- 根据模块ID查询设备老化率(杨) -->
		SELECT
		t2.`moduleid` AS moduleid,
		COUNT(DISTINCT (t1.`id`)) devcount,
		FLOOR(DATEDIFF(NOW(), t1.`addtime`) / 365) AS year
		FROM
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		t1
		INNER JOIN t_device_group_relation t2
		ON t2.`deviceid` = t1.`id`
		AND
		t2.`moduleid` = #{moduleID}
		AND t2.`isdelete` = 0
		AND t1.`isdelete` = 0
		INNER JOIN t_device_group t3
		ON t3.`id` = t2.`groupid`
		AND t3.`isdelete`
		= 0
		INNER JOIN t_user_dgroup_relation t4
		ON t4.`devicegroupid` = t3.`id`
		AND t4.`isdelete` = 0
		INNER JOIN t_user t5
		ON t5.`id` = t4.`userid`
		AND
		t5.`id` = #{userID}
		AND t5.`isdelete` = 0
		GROUP BY
		FLOOR(DATEDIFF(NOW(),t1.`addtime`)/365)
	</select>

	<select id="selectOneDevInfo" resultType="com.hot.analysis.bean.common.DevInfo">
		<!-- 根据模块ID查询单个设备信息(杨) -->
		SELECT
		t2.`moduleid` AS moduleid,
		FLOOR(DATEDIFF(NOW(), t1.`addtime`)) AS day,
		t1.`code`,
		t1.`devnum`,
<!-- 		DATE(t1.`addtime`) AS addtime, -->
		DATE_FORMAT(t1.`addtime`,'%Y年%m月%d日') AS addtime, 
		SUM(
		CASE
		WHEN
		(SELECT
		TYPE
		FROM
		t_dev_alarm_state
		WHERE id = t6.`alarmstateid`
		AND isdelete = 0) = 1
		THEN 1
		ELSE 0
		END
		) AS alarmcount,
		SUM(
		CASE
		WHEN
		(SELECT
		TYPE
		FROM
		t_dev_alarm_state
		WHERE id = t6.`alarmstateid`
		AND isdelete = 0) = 2
		THEN 1
		ELSE 0
		END
		) AS failurecount,
		SUM(
		CASE
		WHEN
		(SELECT
		TYPE
		FROM
		t_dev_alarm_state
		WHERE id = t6.`alarmstateid`
		AND isdelete = 0) = 3
		THEN 1
		ELSE 0
		END
		) AS othercount,
		(SELECT
		COUNT(*)
		FROM
		t_dev_alarm tt1
		INNER JOIN t_dev_alarm_state tt2
		ON tt1.moduleid = #{moduleID}
		AND tt1.deviceid = #{deviceId}
		AND tt1.alarmstateid = tt2.id
		AND tt2.type = 1) AS opencount
		FROM
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		t1
		INNER JOIN t_device_group_relation t2
		ON t2.`deviceid` = t1.`id`
		AND t2.`moduleid` = #{moduleID}
		AND t2.`isdelete` = 0
		AND t1.`isdelete` = 0
		INNER JOIN t_device_group t3
		ON t3.`id` = t2.`groupid`
		AND t3.`isdelete` = 0
		INNER JOIN t_user_dgroup_relation t4
		ON t4.`devicegroupid` = t3.`id`
		AND t4.`isdelete` = 0
		INNER JOIN t_user t5
		ON t5.`id` = t4.`userid`
		AND t5.`id` = #{userid}
		AND t5.`isdelete` = 0
		LEFT JOIN t_dev_alarm t6
		ON t6.`moduleid` = #{moduleID}
		AND t6.`deviceid` = t1.`id`
		AND YEAR(t6.`addtime`) = #{year}
		WHERE t1.`id` = #{deviceId}
	</select>

	<select id="SeleteMap" resultType="com.hot.analysis.bean.common.SeleteMap">
		SELECT p.id as id , p.picpath
		as picpath , p.site as site , p.itemid as itemid
		FROM t_item_pic p
		WHERE p.itemid = #{groupid} and p.isenable = 1
	</select>
	<select id="GroupListDev" resultType="com.hot.analysis.bean.common.GroupListDev">
		SELECT j.id as id , j.x as x , j.y as y , j.state as state , c.site as
		site , c.picpath as picpath,j.lat,j.lng,j.devnum,j.code,tu.contacts,case when j.state=0 then '正常' when j.state=1 then '报警'
		when j.state=2 then '故障' else '其他' end as alarmstateName
		FROM t_item_pic c
		LEFT JOIN t_dev_item_pic p
		on p.item_pic_id = c.id and p.isdelete = 0
		LEFT JOIN
		t_device_group_relation g on g.moduleid = #{moduleid} and g.isdelete =
		0 and g.isenable = 1 and g.deviceid = p.dev_id
		LEFT JOIN
		<if test="moduleid == 1">t_device_dc</if>
		<if test="moduleid == 2">t_device_yg</if>
		<if test="moduleid == 3">t_device_jg</if>
		<if test="moduleid == 8">t_device_hw</if>
		<if test="moduleid == 9">t_device_ljt</if>
		<if test="moduleid == 10">t_device_sj</if>
		<if test="moduleid == 11">t_device_mc</if>
		<if test="moduleid == 12">t_device_krq</if>
		<if test="moduleid == 13">t_device_ywj</if>
		j on j.id = p.dev_id
		left join t_user tu on tu.id=j.own_id
		WHERE c.itemid = #{groupid} and g.groupid =
		c.itemid and c.isdelete = 0
		<if test="site!='' and site!=null">
			and c.site = #{site}
		</if>
	</select>

	<select id="selectFailureRate" resultType="com.hot.analysis.bean.common.DevFailureRateVO">
		<!-- 根据模块ID查询设备损坏率(杨) -->
		SELECT
		t3.`moduleid` AS moduleID,
		MONTH(t1.`addtime`) AS DATE,
		(SELECT
		COUNT(c.id)
		FROM
		t_dev_alarm c
		WHERE MONTH(c.addtime) =
		MONTH(t1.`addtime`)
		AND c.moduleid = #{moduleID}
		AND c.handlestate = 2)
		AS repairCount,
		(SELECT
		COUNT(c.id)
		FROM
		t_dev_alarm c
		INNER JOIN
		t_dev_alarm_state s
		ON c.`alarmstateid` = s.`id`
		AND s.`type` = 2
		WHERE
		MONTH(c.addtime) = MONTH(t1.`addtime`)
		AND c.moduleid = #{moduleID}
		) AS
		currentMonthBrokenCount,
		(SELECT
		COUNT(c.id)
		FROM
		t_dev_alarm c
		INNER JOIN
		t_dev_alarm_state s
		ON c.`alarmstateid` = s.`id`
		AND s.`type` = 2
		WHERE
		MONTH(c.addtime) &lt;= MONTH(t1.`addtime`) +1
		AND c.handlestate != 2
		AND c.moduleid = #{moduleID}) AS cumulativeBrokenCount,
		(SELECT
		COUNT(c.id)
		FROM
		t_dev_alarm c
		INNER JOIN t_dev_alarm_state s
		ON
		c.`alarmstateid` = s.`id`
		AND s.`type` = 2
		WHERE MONTH(c.addtime) &lt;=
		MONTH(t1.`addtime`)
		AND c.handlestate != 2
		AND c.moduleid = 10) AS
		cumulativeBrokenCountAfterRepair,
		(SELECT
		COUNT(b.id)
		FROM
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		b
		INNER JOIN t_device_group_relation ttt3
		ON ttt3.`deviceid` = b.`id`
		AND ttt3.`isdelete` = 0
		AND ttt3.`moduleid` = #{moduleID}
		INNER JOIN
		t_device_group ttt4
		ON ttt4.`id` = ttt3.`groupid`
		AND ttt4.`isdelete` =
		0
		AND ttt4.`moduleid` = #{moduleID}
		INNER JOIN t_user_dgroup_relation
		ttt5
		ON ttt5.`devicegroupid` = ttt4.`id`
		AND ttt5.`isdelete` = 0
		INNER
		JOIN t_user ttt6
		ON ttt5.`userid` = ttt6.`id`
		AND ttt6.`id` = #{userID}
		AND ttt6.`isdelete` = 0
		WHERE b.addtime &lt;=
		LAST_DAY(MAX(t1.`addtime`))) AS devCount
		FROM
		t_dev_alarm t1
		INNER JOIN
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		t2
		ON t1.`deviceid` = t2.`id`
		AND t2.`isdelete` = 0
		AND t1.`moduleid` =
		#{moduleID}
		AND t2.`isdelete` = 0
		INNER JOIN t_device_group_relation t3
		ON t3.`deviceid` = t2.`id`
		AND t3.`isdelete` = 0
		AND t3.`moduleid` =
		#{moduleID}
		INNER JOIN t_device_group t4
		ON t4.`id` = t3.`groupid`
		AND
		t4.`isdelete` = 0
		AND t4.`moduleid` = #{moduleID}
		INNER JOIN
		t_user_dgroup_relation t5
		ON t5.`devicegroupid` = t4.`id`
		AND
		t5.`isdelete` = 0
		INNER JOIN t_user t6
		ON t5.`userid` = t6.`id`
		AND
		t6.`id` = #{userID}
		AND t6.`isdelete` = 0
		WHERE t1.`addtime` >=
		#{startTime}
		AND t1.`addtime` &lt;= #{endTime}
		GROUP BY
		MONTH(t1.`addtime`)
	</select>

	<select id="selectDevAlarmHandleByTime" resultType="com.hot.analysis.bean.common.DevAlarmHandleByTimeVO">
		<!-- 根据模块ID和时间查询报警处理(杨) -->
		SELECT
		t3.`moduleid` AS moduleid,
		<if test="queryType==2">
			DATE(t1.`addtime`) AS date,
		</if>
		<if test="queryType==3">
			DATE_FORMAT(t1.`addtime`,'%Y-%m-%01') AS DATE,
		</if>
		<if test="queryType==4">
			YEAR(t1.`addtime`) AS DATE,
		</if>
		COUNT(t1.`id`) AS alarmcount,
		SUM(
		CASE
		WHEN t1.`handlestate` = 2
		THEN 1
		ELSE 0
		END
		) AS handlecount,
		SUM(
		CASE
		WHEN t1.`handleresult` = 1
		THEN 1
		ELSE 0
		END
		) AS falsecount
		FROM
		t_dev_alarm t1
		INNER JOIN
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		t2
		ON t1.`deviceid` = t2.`id`
		AND t1.`moduleid` = #{moduleID}
		AND
		t2.`isdelete` = 0
		INNER JOIN t_device_group_relation t3
		ON t3.`deviceid`
		= t2.`id`
		AND t3.`isdelete` = 0
		AND t3.`moduleid` = #{moduleID}
		INNER
		JOIN t_device_group t4
		ON t4.`id` = t3.`groupid`
		AND t4.`isdelete` = 0
		AND t4.`moduleid` = #{moduleID}
		INNER JOIN t_user_dgroup_relation t5
		ON
		t5.`devicegroupid` = t4.`id`
		AND t5.`isdelete` = 0
		INNER JOIN t_user t6
		ON t6.`id` = t5.`userid`
		AND t6.`isdelete` = 0
		AND t6.`id` = #{userID}
		WHERE t1.`addtime` >= #{startTime}
		AND t1.`addtime` &lt;= #{endTime}
		<if test="queryType==2">
			GROUP BY DATE(t1.`addtime`)
		</if>
		<if test="queryType==3">
			GROUP BY MONTH(t1.`addtime`)
		</if>
		<if test="queryType==4">
			GROUP BY YEAR(t1.`addtime`)
		</if>
	</select>

	<!-- 地图设备位置 -->
	<select id="selectDevList" resultType="com.hot.analysis.bean.common.TGroup">
		SELECT * ,r.contacts as mname,r.telephone as mtelephone
		,COUNT(p.deviceid) AS Dnum,
		SUM( CASE WHEN n.state=0 THEN 1 ELSE 0 END
		) AS normalcount,
		SUM( CASE WHEN n.state=1 THEN 1 ELSE 0 END ) AS
		alarmcount,
		SUM( CASE WHEN n.state=2 THEN 1 ELSE 0 END ) AS
		failurecount,
		SUM( CASE WHEN n.state=3 THEN 1 ELSE 0 END ) AS
		othercount
		FROM t_device_group g
		LEFT JOIN t_user_dgroup_relation u ON
		u.devicegroupid=g.id
		LEFT JOIN t_user r ON g.managerid=r.id
		LEFT JOIN
		t_device_group_relation p ON p.groupid=u.devicegroupid and
		p.moduleid=#{moduleid}
		LEFT JOIN
		<if test="moduleid == 1">t_device_dc</if>
		<if test="moduleid == 2">t_device_yg</if>
		<if test="moduleid == 3">t_device_jg</if>
		<if test="moduleid == 8">t_device_hw</if>
		<if test="moduleid == 9">t_device_ljt</if>
		<if test="moduleid == 10">t_device_sj</if>
		<if test="moduleid == 11">t_device_mc</if>
		<if test="moduleid == 12">t_device_krq</if>
		<if test="moduleid == 13">t_device_ywj</if>
		n ON n.id=p.deviceid
		WHERE u.userid=#{userid} AND
		g.moduleid=#{moduleid} and g.isdelete = 0 and
		g.isenable = 1 and
		n.isdelete=0 AND n.isenable=1

		<if test="code != null and code != ''">
			AND (g.groupcode LIKE CONCAT('%', #{code}, '%')
			or
			g.groupname LIKE CONCAT('%', #{code}, '%'))
		</if>
		GROUP BY g.id



	</select>
	<select id="selectDev" resultType="com.hot.analysis.bean.common.selectDev">
		SELECT y.devnum as devnum , y.addtime as addtime , TIMESTAMPDIFF(DAY,
		y.addtime, NOW()) as days, y.`code` as code
		FROM
		<if test="moduleid == 1">t_device_dc</if>
		<if test="moduleid == 2">t_device_yg</if>
		<if test="moduleid == 3">t_device_jg</if>
		<if test="moduleid == 8">t_device_hw</if>
		<if test="moduleid == 9">t_device_ljt</if>
		<if test="moduleid == 10">t_device_sj</if>
		<if test="moduleid == 11">t_device_mc</if>
		<if test="moduleid == 12">t_device_krq</if>
		<if test="moduleid == 13">t_device_ywj</if>
		y
		WHERE y.id = #{devid} and y.isdelete = 0 and y.isenable = 1
	</select>
	<select id="AlarmList" resultType="com.hot.analysis.bean.common.DevState">
		SELECT dg.moduleid as moduleID , YEAR(s.addtime) as yearStr ,
		COUNT(als.type) as allAlarmCount ,
		ifnull(SUM(CASE WHEN als.type = 1
		THEN 1 ELSE 0 END),0) AS alarmCount,
		ifnull(SUM(CASE WHEN als.type = 2
		THEN 1 ELSE 0 END),0) AS
		failureCount,
		ifnull(SUM(CASE WHEN als.type = 3
		THEN 1 ELSE 0 END),0) AS otherCount
		FROM
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		s
		LEFT JOIN t_device_group_relation dg on dg.moduleid = #{moduleID} and
		dg.deviceid = s.id and dg.isenable = 1
		RIGHT JOIN
		t_user_dgroup_relation ug on ug.userid = #{userID} and
		ug.devicegroupid = dg.groupid and ug.isenable = 1
		LEFT JOIN t_dev_alarm
		al on al.moduleid = dg.moduleid and al.deviceid =
		s.id and YEAR
		(al.addtime) = 2018
		LEFT JOIN t_dev_alarm_state als on als.isdelete = 0
		and als.module_id =
		dg.moduleid and als.id = al.alarmstateid
		WHERE
		s.isdelete = 0 and s.isenable = 1 and s.id = #{devid}
	</select>

	<select id="selectDevAlarmHandleType" resultType="com.hot.analysis.bean.common.DevAlarmHandleTypeVO">
		<!-- 根据模块ID查询设备报警类型统计(水位设备不适用)(杨) -->
		SELECT
		t3.`moduleid` AS moduleid,
		SUM(
		CASE
		WHEN t1.`id` != 0
		THEN 1
		ELSE 0
		END
		) AS allalarmcount,
		SUM(
		CASE
		WHEN
		(SELECT
		TYPE
		FROM
		t_dev_alarm_state
		WHERE id = t1.`alarmstateid`) = 2
		THEN 1
		ELSE 0
		END
		) AS failurecount,
		SUM(
		CASE
		WHEN
		(SELECT
		TYPE
		FROM
		t_dev_alarm_state
		WHERE id =
		t1.`alarmstateid`) = 1
		THEN 1
		ELSE 0
		END
		) AS alarmcount,
		SUM(
		CASE
		WHEN
		(SELECT
		TYPE
		FROM
		t_dev_alarm_state
		WHERE id = t1.`alarmstateid`) = 3
		THEN
		1
		ELSE 0
		END
		) AS othercount
		FROM
		t_dev_alarm t1
		INNER JOIN
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		t2
		ON t1.`deviceid` = t2.`id`
		AND t2.`isdelete` = 0
		AND t1.`moduleid` =
		#{moduleID}
		INNER JOIN t_device_group_relation t3
		ON t3.`moduleid` =
		#{moduleID}
		AND t3.`deviceid` = t2.`id`
		AND t3.`isdelete` = 0
		INNER JOIN
		t_device_group t4
		ON t3.`groupid` = t4.`id`
		AND t4.`isdelete` = 0
		AND
		t4.`moduleid` = #{moduleID}
		INNER JOIN t_user_dgroup_relation t5
		ON
		t5.`devicegroupid` = t4.`id`
		AND t5.`isdelete` = 0
		INNER JOIN t_user t6
		ON t6.`id` = t5.`userid`
		AND t6.`isdelete` = 0
		AND t6.`id` = #{userID}
		WHERE YEAR(t1.`addtime`) = #{Time}
	</select>

	<select id="selectDevStateCount" resultType="com.hot.analysis.bean.common.DevStateCountVO">
		<!-- 根据模块ID查询不同状态的设备数量(地磁不适用)(杨) -->
		<!-- SELECT -->
		<!-- t3.`moduleid` AS moduleid, -->
		<!-- SUM( -->
		<!-- DISTINCT -->
		<!-- CASE -->
		<!-- WHEN -->
		<!-- (SELECT -->
		<!-- TYPE -->
		<!-- FROM -->
		<!-- t_dev_alarm_state -->
		<!-- WHERE id = t1.`alarmstateid`) = 1 -->
		<!-- THEN 1 -->
		<!-- ELSE 0 -->
		<!-- END -->
		<!-- ) AS alarmcount, -->
		<!-- SUM( -->
		<!-- DISTINCT -->
		<!-- CASE -->
		<!-- WHEN -->
		<!-- (SELECT -->
		<!-- TYPE -->
		<!-- FROM -->
		<!-- t_dev_alarm_state -->
		<!-- WHERE id = t1.`alarmstateid`) = 2 -->
		<!-- AND t1.`handlestate` != 2 -->
		<!-- THEN 1 -->
		<!-- ELSE 0 -->
		<!-- END -->
		<!-- ) AS failurecount, -->
		<!-- SUM( -->
		<!-- DISTINCT -->
		<!-- CASE -->
		<!-- WHEN -->
		<!-- (SELECT -->
		<!-- TYPE -->
		<!-- FROM -->
		<!-- t_dev_alarm_state -->
		<!-- WHERE id = t1.`alarmstateid`) = 2 -->
		<!-- AND t1.`handlestate` = 1 -->
		<!-- THEN 1 -->
		<!-- ELSE 0 -->
		<!-- END -->
		<!-- ) AS repaircount, -->
		<!-- (SELECT -->
		<!-- COUNT(DISTINCT tt2.`id`) -->
		<!-- FROM -->
		<!-- <if test="moduleID == 1">t_device_dc</if> -->
		<!-- <if test="moduleID == 2">t_device_yg</if> -->
		<!-- <if test="moduleID == 3">t_device_jg</if> -->
		<!-- <if test="moduleID == 8">t_device_hw</if> -->
		<!-- <if test="moduleID == 9">t_device_ljt</if> -->
		<!-- <if test="moduleID == 10">t_device_sj</if> -->
		<!-- <if test="moduleID == 11">t_device_mc</if> -->
		<!-- <if test="moduleID == 12">t_device_krq</if> -->
		<!-- <if test="moduleID == 13">t_device_ywj</if> -->
		<!-- tt2 -->
		<!-- INNER JOIN t_device_group_relation tt3 -->
		<!-- ON tt3.`deviceid` = tt2.`id` -->
		<!-- AND tt3.`moduleid` = #{moduleID} -->
		<!-- AND tt3.`isdelete` = 0 -->
		<!-- AND tt2.`isdelete` = 0 -->
		<!-- <if test="startTime != null"> -->
		<!-- AND tt2.`addtime` >= #{startTime} -->
		<!-- </if> -->
		<!-- <if test="endTime != null"> -->
		<!-- AND tt2.`addtime` &lt;= #{endTime} -->
		<!-- </if> -->
		<!-- INNER JOIN t_device_group tt4 -->
		<!-- ON tt4.`id` = tt3.`groupid` -->
		<!-- AND tt4.`isdelete` = 0 -->
		<!-- AND tt4.`moduleid` = #{moduleID} -->
		<!-- INNER JOIN t_user_dgroup_relation tt5 -->
		<!-- ON tt5.`devicegroupid` = tt4.`id` -->
		<!-- AND tt5.`isdelete` = 0 -->
		<!-- INNER JOIN t_user tt6 -->
		<!-- ON tt6.`id` = tt5.`userid` -->
		<!-- AND tt6.`isdelete` = 0 -->
		<!-- AND tt6.`id` = 1) AS devcount -->
		<!-- FROM -->
		<!-- t_dev_alarm t1 -->
		<!-- INNER JOIN -->
		<!-- <if test="moduleID == 1">t_device_dc</if> -->
		<!-- <if test="moduleID == 2">t_device_yg</if> -->
		<!-- <if test="moduleID == 3">t_device_jg</if> -->
		<!-- <if test="moduleID == 8">t_device_hw</if> -->
		<!-- <if test="moduleID == 9">t_device_ljt</if> -->
		<!-- <if test="moduleID == 10">t_device_sj</if> -->
		<!-- <if test="moduleID == 11">t_device_mc</if> -->
		<!-- <if test="moduleID == 12">t_device_krq</if> -->
		<!-- <if test="moduleID == 13">t_device_ywj</if> -->
		<!-- t2 -->
		<!-- ON t1.`deviceid` = t2.`id` -->
		<!-- AND t1.`moduleid` = #{moduleID} -->
		<!-- AND t2.`isdelete` = 0 -->
		<!-- <if test="startTime != null"> -->
		<!-- AND t2.`addtime` >= #{startTime} -->
		<!-- </if> -->
		<!-- <if test="endTime != null"> -->
		<!-- AND t2.`addtime` &lt;= #{endTime} -->
		<!-- </if> -->
		<!-- INNER JOIN t_device_group_relation t3 -->
		<!-- ON t3.`deviceid` = t2.`id` -->
		<!-- AND t3.`moduleid` = #{moduleID} -->
		<!-- AND t3.`isdelete` = 0 -->
		<!-- INNER JOIN t_device_group t4 -->
		<!-- ON t4.`id` = t3.`groupid` -->
		<!-- AND t4.`isdelete` = 0 -->
		<!-- AND t4.`moduleid` = #{moduleID} -->
		<!-- INNER JOIN t_user_dgroup_relation t5 -->
		<!-- ON t5.`devicegroupid` = t4.`id` -->
		<!-- AND t5.`isdelete` = 0 -->
		<!-- INNER JOIN t_user t6 -->
		<!-- ON t6.`id` = t5.`userid` -->
		<!-- AND t6.`isdelete` = 0 -->
		<!-- AND t6.`id` = #{userID} -->
		SELECT
		t2.`moduleid` AS moduleid,
		SUM(
		CASE
		WHEN t1.`isdelete` != 1
		AND t1.isenable=1
		THEN 1
		ELSE 0
		END
		) AS devCount,
		SUM(
		CASE
		WHEN t1.`state` = 1
		THEN 1
		ELSE 0
		END
		) AS
		alarmcount,
		SUM(
		CASE
		WHEN t1.`state` = 2
		THEN 1
		ELSE 0
		END
		) AS
		failurecount,
		SUM(
		CASE
		WHEN t1.`state` = 3
		THEN 1
		ELSE 0
		END
		) AS
		repaircount,
		SUM(
		CASE
		WHEN t1.`state` = 3
		THEN 1
		ELSE 0
		END
		) AS othercount
		FROM
		<if test="moduleID == 1">t_device_dc</if>
		<if test="moduleID == 2">t_device_yg</if>
		<if test="moduleID == 3">t_device_jg</if>
		<if test="moduleID == 8">t_device_hw</if>
		<if test="moduleID == 9">t_device_ljt</if>
		<if test="moduleID == 10">t_device_sj</if>
		<if test="moduleID == 11">t_device_mc</if>
		<if test="moduleID == 12">t_device_krq</if>
		<if test="moduleID == 13">t_device_ywj</if>
		t1
		INNER JOIN t_device_group_relation t2
		ON t2.`deviceid` = t1.`id`
		AND
		t2.`moduleid` = #{moduleID}
		AND t2.`isdelete` = 0
		AND t1.`isdelete` = 0
		INNER JOIN t_device_group t3
		ON t3.`id` = t2.`groupid`
		AND t3.`moduleid`
		= t2.`moduleid`
		AND t3.`isdelete` = 0
		INNER JOIN t_user_dgroup_relation
		t4
		ON t4.`devicegroupid` = t3.`id`
		AND t4.`isdelete` = 0
		INNER JOIN
		t_user t5
		ON t5.`id` = t4.`userid`
		AND t5.`isdelete` = 0
		AND t5.`id` =
		#{userID}
	</select>

</mapper>