<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="common">
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <link rel="stylesheet" href="/css/system/member.css" />
</head>
<script type="text/javascript" src="/static/js/service/customer.js"></script>

<body style="height: 100%;">
    <div class="easyui-layout">
        <div id="customer_search" data-options="region:'north',border:false" style="padding: 10px;overflow: hidden;">
            <form id="customer_search_from" class="searcher-form">
                <input name="memberName" class="easyui-textbox field" label="账号：" labelWidth="45" />
                <input name="telephone" class="easyui-textbox field" label="手机：" labelWidth="45" />
                <select name="status" class="easyui-combobox field" label="客户状态：" labelWidth="75" editable="false" style="width:180px" data-options="valueField:'value', textField:'label', panelHeight:'auto'">
                    <option value="">全部</option>
                    <option value="1">有效</option>
                    <option value="2">无效</option>
                </select>
                <select name="vhostStatus" class="easyui-combobox field" label="虚拟机状态：" labelWidth="90" editable="false" style="width:200px" data-options="valueField:'value', textField:'label', panelHeight:'auto'">
                    <option value="">全部</option>
                    <option value="1">未分配</option>
                    <option value="2">已分配</option>
                    <option value="3">授权通过</option>
                </select>
                <a id="customer_search_button" class="easyui-linkbutton searcher" data-options="iconCls:'fa fa-search'">检索</a>
                <a id="customer_reset_button" class="easyui-linkbutton reset" data-options="iconCls:'fa fa-repeat'">重置</a>
            </form>
        </div>
        <div>
            <table class="easyui-datagrid" id="customer_datagrid"></table>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".layout-panel").css("position", "static");
        });
    </script>
    <script th:inline="javascript">
    	$(function () {
	     	var b = [[${buttons}]];
	     	setButtons(b);
	        generateButtons(buttons);
		});
	</script>
</body>

</html>