<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcomm.prevention.db.mysql.manage.patrol.PatrolMapper">
	<select id="selectPageInfo" resultType="com.hotcomm.prevention.bean.mysql.manage.patrol.PatrolPersonVo">
		SELECT s.id,u.userNum,u.contacts, s.addtime as addtime,
<!-- 		COUNT(DISTINCT p.signdeviceid,p.isdelete=0) as devcount, -->
		count(DISTINCT n.id,n.isdelete=0) as devcount,
		COUNT(DISTINCT n.id,n.isdelete=0) as addresscount,
		s.lastsigntime  
		FROM t_user u 
		RIGHT JOIN t_hk_userpatrelation s ON u.id=s.userid AND s.isenable=1  <!-- 用户与巡检人员 -->
		LEFT JOIN t_hk_patdevrelation a ON a.userpatid=s.id
		LEFT JOIN t_hk_sign n ON n.id=a.signid AND n.isdelete=0 <!-- #签到地址和项目 -->
		LEFT JOIN t_hk_signdevice sd on sd.isdelete = 0 and sd.moduleid = #{patrol.moduleid}
		LEFT JOIN t_hk_patdevrelationdevice p ON p.userpatid=s.id AND p.isdelete=0 AND p.signdeviceid=sd.id <!-- #巡检与签到设备 -->
		WHERE u.isenable=1
		<if test="patrol.starttime!=null and patrol.starttime!=''">
			AND s.addtime &gt;=#{patrol.starttime}
		</if>
		<if test="patrol.endtime!=null and patrol.endtime!=''">
			AND s.addtime &lt;=#{patrol.endtime}
		</if>
		<if test="patrol.context!=null and patrol.context!=''">
			AND (u.userNum LIKE CONCAT('%',#{patrol.context},'%') OR u.contacts LIKE CONCAT('%',#{patrol.context},'%'))
		</if>
		AND s.id in 
		<foreach collection="params" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		GROUP BY u.id
		ORDER BY u.id DESC
	</select>
	<select id="selectPatrolUser" resultType="com.hotcomm.prevention.bean.mysql.common.entity.TUser">
		SELECT s.id,u.userNum, u.loginname, u.password, u.realname, u.fatherid,
		u.companyname, u.telephone, u.contacts,
		u.isenable, u.isdelete, u.addtime,
		u.adduserid, u.lastlogintime, u.lastloginIP, u.create_time,
		u.update_time, u.status,
		u.positionid FROM t_hk_userpatrelation s
		LEFT JOIN t_user u ON
		u.id=s.userid AND u.isenable=1
		WHERE s.isenable=1 AND s.userid in
		<foreach collection="params" item="param" open="(" separator=","
			close=")">
			#{param}
		</foreach>
	</select>

</mapper>