<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcomm.prevention.db.mysql.manage.patrol.ShakeDevMapper">

	<insert id="patUserRelationSign">
		INSERT INTO t_hk_patdevrelation (userpatid, signid)
		VALUES
		(#{patUser}, #{signId})
	</insert>

	<delete id="cutRelation">
		DELETE
		FROM
		t_hk_patdevrelation
		WHERE signid =#{signId}
	</delete>

	<update id="deleteSignPlace">
		UPDATE t_hk_sign SET isdelete=1
		WHERE id=#{signId}
	</update>

	<delete id="clearSignLog">
		DELETE
		FROM
		t_hk_signlog
		WHERE signid =#{signId}
	</delete>

	<update id="updateSignPlace">
		UPDATE t_hk_sign SET
		<if test="address !=null and address !=''">
			address=#{address}
		</if>
		<if test="lng !=null">
			,
			lng=#{lng}
		</if>
		<if test="lng !=null">
			,
			lat=#{lat}
		</if>
		<if test="devnum !=null and devnum !=''">
			,
			devnum=#{devnum}
		</if>
		<if test="itemid !=null">
			,
			itemid=#{itemid}
		</if>
		<if test="QRcodePicUrl !=null">
			,
			QRcodePicUrl=#{QRcodePicUrl}
		</if>
		<if test="QRcodePicUrl ==null">
			,
			QRcodePicUrl=""
		</if>
		WHERE id=#{insertId}
	</update>

	<select id="checkSignPlaceDevnum"
		resultType="com.hotcomm.prevention.bean.mysql.manage.patrol.CheckSignDevnum">
		SELECT t1.`id` AS
		id,t1.`devnum` FROM t_hk_sign t1
		WHERE
		t1.`devnum`=#{devnum}
	</select>

	<insert id="addSignAddress" useGeneratedKeys="true" keyProperty="insertId">
		INSERT INTO t_hk_sign (
		<if test="address !=null and address !=''">
			address,
		</if>
		<if test="lng !=null">
			lng,
		</if>
		<if test="lng !=null">
			lat,
		</if>
		<if test="devnum !=null and devnum !=''">
			devnum,
		</if>
		<if test="itemid !=null">
			itemid,
		</if>
		<if test="ADDTIME !=null and ADDTIME !=''">
			ADDTIME
		</if>
		<if test="QRcodePicUrl !=null and QRcodePicUrl !=''">
			,
			QRcodePicUrl
		</if>
		)
		VALUES
		(
		<if test="address !=null and address !=''">
			#{address},
		</if>
		<if test="lng !=null">
			#{lng},
		</if>
		<if test="lng !=null">
			#{lat},
		</if>
		<if test="devnum !=null and devnum !=''">
			#{devnum},
		</if>
		<if test="itemid !=null">
			#{itemid}
		</if>
		<if test="ADDTIME !=null and ADDTIME !=''">
			,#{ADDTIME}
		</if>
		<if test="QRcodePicUrl !=null and QRcodePicUrl !=''">
			,#{QRcodePicUrl}
		</if>
		)
	</insert>

	<select id="selectSignPlaceOnid"
		resultType="com.hotcomm.prevention.bean.mysql.manage.patrol.SignPlaceOnid">
		SELECT
		t1.*,
		<!-- GROUP_CONCAT(DISTINCT t4.`id`) AS patID, -->
		GROUP_CONCAT(DISTINCT t3.`id`) AS patID,
		GROUP_CONCAT(DISTINCT
		t4.`contacts`) AS patName,
		GROUP_CONCAT(DISTINCT t5.`id`) AS groupid,
		GROUP_CONCAT(DISTINCT
		t5.`groupname`) AS groupname
		FROM
		t_hk_sign t1
		LEFT
		JOIN
		t_hk_patdevrelation t2
		ON t1.`id` = t2.`signid`
		LEFT JOIN
		t_hk_userpatrelation t3
		ON t3.`id` = t2.`userpatid`
		LEFT JOIN
		t_user t4
		ON t4.`id` = t3.`userid`
		LEFT JOIN t_device_group t5
		ON
		FIND_IN_SET(
		t5.`id` , t1.`itemid`)
		WHERE t1.`id` = #{signId}
		GROUP BY
		t1.`id`
	</select>

	<select id="selectSignLogPageInfo"
		resultType="com.hotcomm.prevention.bean.mysql.manage.patrol.SignLogPageInfoVO">
		SELECT
		t1.`id`,
		t2.`devnum`,
		t2.`id` AS signID,
		t1.`picaddr`,
		<!-- t6.`groupname`, -->
		GROUP_CONCAT(DISTINCT t6.`groupname`) AS groupname,
		t2.`address`,
		GROUP_CONCAT(DISTINCT t5.`contacts`) AS patName,
		t1.`addtime`,
		CASE
		t1.`signstate`
		WHEN 1
		THEN 1
		ELSE 0
		END AS signstate,
		CASE
		t1.`signstate`
		WHEN 0
		THEN '未获取到定位'
		WHEN 1
		THEN ''
		WHEN 2
		THEN
		'与签到点距离超出100米'
		WHEN 3
		THEN
		'未获取到定位'
		END AS stateDetail,
		CASE
		t1.`signstate`
		WHEN 1
		THEN '签到成功'
		ELSE
		'签到失败'
		END AS stateName
		FROM
		t_hk_signlog t1
		INNER JOIN t_hk_sign t2
		ON
		t1.`signid` =
		t2.`id`
		AND
		t2.`isdelete` = 0
		<if test="signID !=null">
			AND t2.`id`=#{signID}
		</if>
		LEFT JOIN
		t_hk_patdevrelation t3
		ON
		t3.`signid` =
		t2.`id`
		LEFT JOIN
		t_hk_userpatrelation t4
		ON t4.`id` =
		t3.`userpatid`
		LEFT
		JOIN t_user t5
		<!-- ON t5.`id` = t4.`userid` -->
		ON t5.`id` = t1.`userid`
		LEFT JOIN
		t_device_group t6
		<!-- ON t6.`id` =t2.`itemid` -->
		ON FIND_IN_SET( t6.`id` , t2.`itemid`)
		WHERE 1=1
		<if test="contextid!=null and contextid!=''">
			AND t4.id = #{contextid}
		</if>
		<if test="context!=null and context!=''">
			AND (t6.`groupname` LIKE CONCAT('%',#{context},'%') OR
			t5.`contacts` LIKE
			CONCAT('%',#{context},'%'))
		</if>
		<if test="starttime!=null and starttime!=''">
			AND DATE(t1.`addtime`) &gt;=#{starttime}
		</if>
		<if test="endtime!=null and endtime!=''">
			AND DATE(t1.`addtime`) &lt;=#{endtime}
		</if>
		<if test="state !=null">
			<if test="state ==1">
				AND t1.`signstate`=1
			</if>
			<if test="state ==0">
				AND t1.`signstate`IN (0,2)
			</if>
		</if>
		GROUP BY t1.`id`
		ORDER BY t1.`addtime` DESC
	</select>

	<select id="selectSignPlacePageInfo"
		resultType="com.hotcomm.prevention.bean.mysql.manage.patrol.SignPlacePageInfoVO">
		SELECT * FROM (
		SELECT
		t1.`id`,
		t1.`devnum` as devnum,
		<!-- t2.`groupname`, -->
		<!-- t2.`id` AS groupid, -->
		GROUP_CONCAT(DISTINCT t2.`id`) AS groupid,
		GROUP_CONCAT(DISTINCT
		t2.`groupname`) AS groupname,
		t1.`address`,
		t1.`lng`,
		t1.`lat`,
		GROUP_CONCAT(DISTINCT t7.`contacts`) AS
		patName,
		GROUP_CONCAT(DISTINCT
		t7.`id`) AS patID,
		t1.`lastsigntime`,
		t1.`QRcodePicUrl`,
		t1.addtime
		FROM
		t_hk_sign t1
		INNER JOIN
		t_device_group t2
		ON
		<!-- t1.`itemid` = t2.`id` -->
		FIND_IN_SET( t2.`id` , t1.`itemid`)
		AND t2.`isdelete` = 0
		AND
		t2.`isenable` = 1
		INNER
		JOIN
		t_user_dgroup_relation t3
		ON
		t3.`devicegroupid` = t2.`id`
		AND
		t3.`isdelete` = 0
		AND t3.`isenable` = 1
		INNER JOIN t_user t4
		ON t4.`id` =
		#{userid}
		AND t4.`id` = t3.`userid`
		AND
		t4.`isdelete` = 0
		AND
		t4.`isenable` = 1
		LEFT JOIN t_hk_patdevrelation t5
		ON t5.`signid` =
		t1.`id`
		LEFT JOIN t_hk_userpatrelation t6
		ON
		t5.`userpatid` = t6.`id`
		LEFT JOIN t_user t7
		ON t7.`id` = t6.`userid`
		WHERE t1.`isdelete` = 0
		GROUP BY t1.`id`
		) test
		WHERE 1=1
		<if test="context!=null and context!=''">
			AND (devnum LIKE CONCAT('%',#{context},'%') OR
			groupname LIKE
			CONCAT('%',#{context},'%'))
		</if>
		<if test="starttime!=null and starttime!=''">
			AND DATE(lastsigntime) &gt;=#{starttime}
		</if>
		<if test="endtime!=null and endtime!=''">
			AND DATE(lastsigntime) &lt;=#{endtime}
		</if>
		ORDER BY test.addtime DESC
	</select>

	<insert id="AppSign">
		INSERT INTO t_hk_signlog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null and userid != ''">
				userid,
			</if>
			<if test="signid != null and signid != ''">
				signid,
			</if>
			<if test="addtime != null and addtime != ''">
				addtime,
			</if>
			<if test=" picaddr != null and  picaddr != ''">
				picaddr,
			</if>
			<if test=" signstate != null and  signstate != ''">
				signstate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null and userid != ''">
				#{userid},
			</if>
			<if test="signid != null and signid != ''">
				#{signid},
			</if>
			<if test="addtime != null and addtime != ''">
				#{addtime},
			</if>
			<if test=" picaddr != null and  picaddr != ''">
				#{picaddr},
			</if>
			<if test=" signstate != null and  signstate != ''">
				#{signstate},
			</if>
		</trim>
	</insert>

	<select id="selectSignid" resultType="java.lang.Integer">
		SELECT id FROM t_hk_sign s
		WHERE s.devnum=#{devnum}
	</select>

	<select id="selectPid" resultType="java.lang.Integer">
		SELECT id FROM
		t_hk_userpatrelation WHERE
		t_hk_userpatrelation.userid=#{userid}
	</select>

	<select id="selectrelation" resultType="java.lang.Integer">
		SELECT COUNT(*) as y FROM
		t_hk_patdevrelation s WHERE
		s.userpatid=#{Pid} AND s.signid=#{signid}
	</select>

	<select id="selectjw" resultType="java.lang.Integer">
		SELECT
		<if test="lat!=null and lng!=null">
			ROUND(
			6378.138 * 2 * ASIN(
			SQRT(
			POW(
			SIN(
			(
			${lat} *
			PI() / 180
			- S.`lat` * PI() / 180
			) / 2
			),
			2
			) + COS(${lat} * PI()
			/ 180) *
			COS(S.`lat` * PI() / 180) * POW(
			SIN(
			(
			${lng} * PI() /
			180 - S.`lng` *
			PI() / 180
			) / 2
			),
			2
			)
			)
			) * 1000
			)
		</if>
		FROM t_hk_sign S WHERE id=#{signid}
	</select>

	<update id="AppUpdateSign">
		UPDATE t_hk_sign
		SET lastsigntime = #{addtime}
		WHERE
		id=#{signid}
	</update>

	<update id="AppUpdateSignTime">
		UPDATE t_hk_userpatrelation
		SET lastsigntime =
		#{addtime}
		WHERE userid=#{userid}
	</update>

</mapper>