<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.manage.db.sy.SYMapper">
	<!-- /hotcomm-manage/src/main/java/com/hot/manage/db/sy/SYMapper.java -->
	<select id="SYDevList" resultType="com.hot.manage.entity.sy.SYDevList">
		SELECT y.id as devid , y.devnum as devnum , y.mac as mac ,
		dg.groupname as groupname , y.code as code , dg.managerid as managerid
		,t7.`site`,t7.picpath,
		(SELECT contacts FROM t_user WHERE
		id=y.`own_id`) AS contacts, y.addtime as addtime , y.lat as lat ,
		y.lng as lng ,
		y.state as state , y.battery as battery ,y.lastValue as
		lastValue,y.addrcode
		as addrcode,y.lessalarmvalue as lessalarmvalue,
		y.topalarmvalue as
		topalarmvalue,y.alarmset as alarmset,
		y.x as x,y.y as
		y,
		count(v.videoid) as count ,
		y.adduserid as adduserid,
		y.lastalarmtime
		as lastalarmtime , y.own_id as own_id
		FROM t_device_sy y
		INNER JOIN
		t_device_group_relation tg on
		tg.moduleid = #{moduleid} and tg.deviceid
		= y.id
		<if test="groupid !='' and groupid !=null">
			and tg.groupid=#{groupid}
		</if>
		INNER JOIN t_device_group dg on dg.id = tg.groupid
		INNER JOIN
		t_user_dgroup_relation tt ON tt.devicegroupid=dg.id
		INNER JOIN t_user u
		on u.id=tt.userid
		LEFT JOIN t_dev_video_relation v on v.moduleid=
		#{moduleid} AND y.id=v.deviceid
		LEFT JOIN t_dev_item_pic t6
		ON
		t6.`dev_id`=y.`id`
		AND t6.`moduleid`= #{moduleid}
		LEFT JOIN t_item_pic
		t7
		ON t6.`item_pic_id`=t7.`id`
		WHERE y.isenable = 1
		<if test="Starttime!='' and Starttime!=null">
			and y.addtime &gt;= #{Starttime}
		</if>
		<if test="Endtime!='' and Endtime!=null">
			and y.addtime &lt;= #{Endtime}
		</if>
		<if test="context!='' and context!=null">
			and (y.devnum LIKE CONCAT('%',#{context},'%') or 
			y.code LIKE CONCAT('%',#{context},'%') or 
			y.mac LIKE CONCAT('%',#{context},'%'))
		</if>
		<if test="Batterytype==1">
			and y.battery &lt; 20
		</if>
		<if test="Batterytype==2">
			and y.battery &gt;= 20
		</if>
		group by y.id
	</select>

	<select id="SYSelectOnId" resultType="com.hot.manage.entity.sy.SYSelectOnId">
		SELECT jg.id as id , jg.devnum as devnum , jg.lat as lat , jg.lng as
		lng , jg.mac as mac,jg.code as code,jg.own_id as own_id,
		jg.x as x
		,jg.y as y ,g.id as groupid,g.groupname as groupname ,p.id as
		itempicid,
		p.picpath as picpath , p.site as site,jg.lastalarmtime as
		lastalarmtime,
		jg.lastValue as lastValue,jg.addrcode as
		addrcode,jg.lessalarmvalue as
		lessalarmvalue,jg.topalarmvalue as
		topalarmvalue,
		jg.alarmset as alarmset,
		GROUP_CONCAT(t666.`videoid`) AS
		videos
		FROM t_device_sy jg
		LEFT JOIN t_device_group_relation dg on
		dg.moduleid = #{moduleid} and
		dg.deviceid = jg.id and dg.isenable = 1
		LEFT JOIN t_user_dgroup_relation ug on ug.userid = #{userid} and
		ug.devicegroupid = dg.groupid
		LEFT JOIN t_dev_item_pic dp on dp.dev_id
		= dg.deviceid and dp.moduleid =
		dg.moduleid
		LEFT JOIN t_item_pic p on
		p.id = dp.item_pic_id and p.isenable = 1
		LEFT JOIN t_device_group g on
		g.id = dg.groupid and g.isenable = 1
		LEFT JOIN t_dev_video_relation
		t666
		ON jg.`id` = t666.`deviceid`
		AND t666.`moduleid` = 16
		LEFT JOIN t_device_video t888
		ON t666.`videoid` = t888.`id`
		AND t888.`isdelete` = 0
		WHERE jg.isenable = 1
		<if test="devid != null">
			and jg.id = #{devid}
		</if>
		<if test="devnum!=null and devnum!=''">
			and jg.devnum = #{devnum}
		</if>
		<if test="mac!=null and mac!=''">
			and jg.mac = #{mac}
		</if>
		GROUP BY jg.`id`
	</select>

	<insert id="SYAddDev" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_device_sy
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mac != null and mac != ''">
				mac,
			</if>
			<if test="code != null and code != ''">
				code,
			</if>
			<if test="lng != null and lng != ''">
				lng,
			</if>
			<if test="lat != null and lat != ''">
				lat,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="addtime != null and addtime != ''">
				addtime,
			</if>
			<if test="userid != null">
				adduserid,
			</if>

			<if test="addrcode != null and addrcode != ''">
				addrcode,
			</if>
			<if test="lessalarmvalue != null and lessalarmvalue != ''">
				lessalarmvalue,
			</if>
			<if test="topalarmvalue != null and topalarmvalue != ''">
				topalarmvalue,
			</if>
			<if test="x != null and x != ''">
				x,
			</if>
			<if test="y != null and y != ''">
				y,
			</if>
			<if test="devnum != null and devnum != ''">
				devnum,
			</if>
			<if test="own_id != null">
				own_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mac != null and mac != ''">
				#{mac},
			</if>
			<if test="code != null and code != ''">
				#{code},
			</if>
			<if test="lng != null and lng != ''">
				#{lng},
			</if>
			<if test="lat != null and lat != ''">
				#{lat},
			</if>
			<if test="state != null">
				#{state},
			</if>
			<if test="addtime != null and addtime != ''">
				#{addtime},
			</if>
			<if test="userid != null">
				#{userid},
			</if>

			<if test="addrcode != null and addrcode != ''">
				#{addrcode},
			</if>
			<if test="lessalarmvalue != null and lessalarmvalue != ''">
				#{lessalarmvalue},
			</if>
			<if test="topalarmvalue != null and topalarmvalue != ''">
				#{topalarmvalue},
			</if>
			<if test="x != null and x != ''">
				#{x},
			</if>
			<if test="y != null and y != ''">
				#{y},
			</if>
			<if test="devnum != null and devnum != ''">
				#{devnum},
			</if>
			<if test="own_id != null">
				#{own_id},
			</if>
		</trim>
	</insert>

	<insert id="SYAddDevGroup">
		INSERT INTO t_device_group_relation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				deviceid,
			</if>
			<if test="groupid != null">
				groupid,
			</if>
			<if test="moduleid != null">
				moduleid,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
			<if test="userid != null">
				adduserid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id!='' and id!=null">
				#{id},
			</if>
			<if test="groupid!=null">
				#{groupid},
			</if>
			<if test="moduleid!=null">
				#{moduleid},
			</if>
			<if test="addtime!=null and addtime!=''">
				#{addtime},
			</if>
			<if test="userid!=null">
				#{userid},
			</if>
		</trim>
	</insert>
	<insert id="SYAddDevGroupPic">
		INSERT INTO t_dev_item_pic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="itempicid != null">
				item_pic_id,
			</if>
			<if test="id != null">
				dev_id,
			</if>
			<if test="moduleid != null">
				moduleid,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="itempicid != null">
				#{itempicid},
			</if>
			<if test="id!=null">
				#{id},
			</if>
			<if test="moduleid!=null">
				#{moduleid},
			</if>
			<if test="addtime!=null and addtime!=''">
				#{addtime},
			</if>
		</trim>
	</insert>

	<select id="SYDevIdByMac" resultType="java.lang.Integer">
		SELECT
		id
		FROM t_device_sy
		WHERE mac = #{mac}
	</select>

	<update id="SYDeleteDev">
		update t_device_sy j , t_device_group_relation g
		set
		j.isdelete = 1 , j.isenable = 0 , g.isdelete = 1 , g.isenable = 0
		where j.id = #{devid} and g.deviceid = j.id and g.moduleid =
		#{moduleid}
	</update>


	<update id="SYDeleteDevPic">
		update t_dev_item_pic p
		set p.isdelete = 1 ,
		p.isenable = 0
		where p.moduleid = #{moduleid} and p.dev_id=#{devid}
	</update>
	<update id="SYUpdateDev">
		UPDATE t_device_sy jg , t_device_group_relation dg
		SET jg.id = jg.id
		<if test="devnum!='' and devnum!=null">
			, jg.devnum = #{devnum}
		</if>
		<if test="lat!='' and lat!=null">
			, jg.lat = #{lat}
		</if>
		<if test="lng!='' and lng!=null">
			, jg.lng = #{lng}
		</if>
		<if test="x!='' and x!=null">
			, jg.x = #{x}
		</if>
		<if test="y!='' and y!=null">
			, jg.y = #{y}
		</if>
		<if test="code!='' and code!=null">
			, jg.code = #{code}
		</if>
		<if test="ownId!='' and ownId!=null">
			, jg.own_id = #{ownId}
		</if>
		<if test="addrcode!='' and addrcode!=null">
			, jg.addrcode = #{addrcode}
		</if>
		<if test="lessalarmvalue!='' and lessalarmvalue!=null">
			, jg.lessalarmvalue = #{lessalarmvalue}
		</if>
		<if test="topalarmvalue!='' and topalarmvalue!=null">
			, jg.topalarmvalue = #{topalarmvalue}
		</if>
		<if test="groupid!='' and groupid!=null">
			, dg.groupid = #{groupid}
		</if>
		WHERE jg.id = #{devid} and dg.moduleid = #{moduleid} and dg.deviceid =
		#{devid}
	</update>
	<!-- 删除关联 -->
	<update id="SYUpdateDevVideoDel">
		UPDATE t_dev_video_relation
		SET isdelete =1
		WHERE
		moduleid = #{moduleid} and deviceid = #{deviceid} and isdelete = 0
	</update>

	<insert id="SYUpdateDevAddPic">
		call
		Get_UpdateDevAddPic(#{devid,jdbcType=INTEGER},#{itempicid,jdbcType=INTEGER},#{moduleid,jdbcType=INTEGER});
	</insert>

	<!-- 修改关联 -->
	<update id="SYUpdateDevVideo">
		UPDATE t_dev_video_relation
		SET isdelete = 0
		WHERE
		moduleid = #{moduleid} and deviceid = #{deviceid} and videoid =
		#{videoid}

	</update>
	<!-- 插入关联 -->
	<insert id="SYUpdateDevVideoAdd">
		INSERT INTO
		t_dev_video_relation(deviceid,videoid,moduleid)
		VALUES(#{deviceid},#{videoid},#{moduleid})
	</insert>
	<!-- 加入到签到列表 -->
	<select id="SYAddSignDevList" resultType="java.lang.Integer">
		CALL
		Get_AddSignDevList(#{moduleid,jdbcType=INTEGER},#{devid,jdbcType=VARCHAR},#{patrolid,jdbcType=INTEGER});
	</select>

	<!-- 查询可更换的项目组 -->
	<select id="SYGroupList" resultType="com.hot.manage.entity.sy.SYGroupList">
		SELECT g.id as id , g.groupname as groupname, g.groupcode as groupcode
		,GROUP_CONCAT(p.id) as
		itempicid , GROUP_CONCAT(p.picpath) as picpath ,
		GROUP_CONCAT(p.site)
		as site , g.x as lng , g.y as lat , g.itemnum as
		itemnum , u.contacts as contacts,
		g.addtime as addtime , g.imgpath as
		imgpath
		FROM t_device_group g
		RIGHT JOIN t_user_dgroup_relation ug on
		ug.userid = #{userid} and ug.devicegroupid = g.id and ug.isdelete = 0
		and ug.isenable = 1
		LEFT JOIN t_item_pic p on p.itemid = g.id
		LEFT JOIN
		t_user u on u.id = g.managerid
		WHERE g.isdelete = 0 and g.moduleid =
		#{moduleid}
		<if test="id!=null">
			and g.id = #{id}
		</if>
		<if test="groupname!='' and groupname!=null">
			and g.groupname = #{groupname}
		</if>
		<if test="itemnum!='' and itemnum!=null">
			and g.itemnum = #{itemnum}
		</if>
		GROUP BY g.id
	</select>

	<!-- 更换设备 -->
	<select id="SYChangeDevMac" resultType="com.hot.manage.entity.sy.SYDevList">
		select id as devid , mac
		as mac
		from t_device_sy
		where mac = #{mac}
	</select>

	<update id="SYChangeDev">
		UPDATE t_device_sy t
		SET t.mac=#{mac}
		WHERE t.id =
		#{devid}
	</update>

	<!-- 批量修改责任人 -->
	<update id="SYchangeDevOwn" parameterType="java.util.List">
		UPDATE t_device_sy SET
		own_id=#{SYChangeUser.ownid} WHERE id in
		<foreach collection="SYChangeUser.devid" index="index" item="item"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<!-- 报警趋势.统计.类型统计图 -->
	<select id="selectSYAlarmForDay" resultType="com.hot.manage.entity.sy.SYAlarmTendency">
		SELECT
			temp1.TheDate,
			SUM(CASE WHEN tda.alarmstateid=39 AND dgr.groupid IS NOT NULL THEN 1 else 0 END) as ToHightAlarm,
			SUM(case WHEN tda.alarmstateid=40 AND dgr.groupid IS NOT NULL THEN 1 ELSE 0 END) as ToLowAlarm
		FROM
			(
				SELECT
					ADDDATE(CURDATE(), INTERVAL @d DAY) AS TheDate ,@d :=@d - 1 DAY
				FROM
					t_power,
					(SELECT @d := 0) temp
				WHERE
					ADDDATE(CURDATE(), INTERVAL @d DAY) >= date_add(CURDATE(), INTERVAL - 1 MONTH)
				ORDER BY
					DAY
			) temp1
		LEFT JOIN t_dev_alarm tda ON DATE_FORMAT(tda.addtime, '%Y-%m-%d') = temp1.TheDate AND tda.moduleid = 16 
		LEFT JOIN t_device_group_relation dgr ON dgr.isdelete!=1 AND dgr.moduleid=16 AND dgr.deviceid=tda.deviceid <if test="groupid !=null and groupid !=''">AND dgr.groupid=#{groupid}</if>
		GROUP BY 
			temp1.TheDate
		ORDER BY
			temp1.TheDate desc
	</select>
	<select id="selectSYAlarmForMonth" resultType="com.hot.manage.entity.sy.SYAlarmTendency">
		SELECT
			temp1.TheDate,
			SUM(CASE WHEN tda.alarmstateid=39 AND dgr.groupid IS NOT NULL THEN 1 else 0 END) as ToHightAlarm,
			SUM(case WHEN tda.alarmstateid=40 AND dgr.groupid IS NOT NULL THEN 1 ELSE 0 END) as ToLowAlarm
		FROM
			(
				SELECT
					DATE_FORMAT(ADDDATE(CURDATE(), INTERVAL @d MONTH),'%Y-%m') AS TheDate ,@d :=@d - 1 as DateTime
				FROM
					t_power,
					(SELECT @d := 0) temp
				WHERE
					ADDDATE(CURDATE(), INTERVAL @d MONTH) >= date_sub(CURDATE(), INTERVAL  5 MONTH)
				ORDER BY
					TheDate
			) temp1
		LEFT JOIN t_dev_alarm tda ON DATE_FORMAT(tda.addtime, '%Y-%m') = temp1.TheDate AND tda.moduleid = 16
		LEFT JOIN t_device_group_relation dgr ON dgr.isdelete!=1 AND dgr.moduleid=16 AND dgr.deviceid=tda.deviceid <if test="groupid !=null and groupid !=''">AND dgr.groupid=#{groupid}</if> 
		GROUP BY
			temp1.TheDate
		ORDER BY
			temp1.TheDate desc
	</select>
	<select id="selectSYAlarmForThreeYear" resultType="com.hot.manage.entity.sy.SYAlarmTendency">
		SELECT
			DATE_FORMAT(temp1.TheDate, '%Y-%m') as TheDate,
			SUM(CASE WHEN tda.alarmstateid=39 AND dgr.groupid IS NOT NULL THEN 1 else 0 END) as ToHightAlarm,
			SUM(case WHEN tda.alarmstateid=40 AND dgr.groupid IS NOT NULL THEN 1 ELSE 0 END) as ToLowAlarm,
			(YEAR(NOW())-YEAR(temp1.TheDate)) as differ
		FROM
			(
				SELECT
					DATE_FORMAT(ADDDATE(CONCAT(YEAR(NOW()),'-1-1'), INTERVAL @d MONTH),'%Y-%m-%d') AS TheDate ,@d :=@d - 1 as DateTime
				FROM
					t_power,
					(SELECT @d := 11) temp
				WHERE
					ADDDATE(CONCAT(YEAR(NOW()),'-1-1'), INTERVAL @d MONTH) BETWEEN date_sub(CONCAT(YEAR(NOW()),'-1-1'), INTERVAL  24 MONTH) AND DATE_ADD(CONCAT(YEAR(NOW()),'-1-1'),INTERVAL 12 MONTH)
				ORDER BY
					TheDate
			) temp1
		LEFT JOIN t_dev_alarm tda ON DATE_FORMAT(tda.addtime, '%Y-%m') = DATE_FORMAT(temp1.TheDate, '%Y-%m') AND tda.moduleid = 16
		LEFT JOIN t_device_group_relation dgr ON dgr.isdelete!=1 AND dgr.moduleid=16 AND dgr.deviceid=tda.deviceid <if test="groupid !=null and groupid !=''">AND dgr.groupid=#{groupid}</if>
		GROUP BY
			temp1.TheDate
		ORDER BY
			temp1.TheDate desc
	</select>
	
	<select id="selectSYAlarmForState" resultType="com.hot.manage.entity.common.groupgk.AlarmStateStatistics">
		SELECT
			s.state_name AS stateName,
			COUNT(dg.groupid) AS Num
		FROM
			t_dev_handle_state s
		LEFT JOIN t_dev_alarm a ON a.moduleid = s.module_id AND s.id = a.alarmstateid
		<if test="TheType==1">
			AND (a.addtime between DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 MONTH),'%Y-%m-%d') AND NOW())	
		</if>
		<if test="TheType==2">
			AND (a.addtime between DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 6 MONTH),'%Y-%m-%d') AND NOW())	
		</if>
		<if test="TheType==3">
			AND (a.addtime between DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 24 MONTH),'%Y-%m-%d') AND NOW())	
		</if>
		LEFT JOIN t_device_group_relation dg ON dg.moduleid = s.module_id AND dg.deviceid = a.deviceid AND dg.isenable = 1 <if test="groupid !=null and groupid !=''">AND dg.groupid=#{groupid}</if>
		LEFT JOIN t_user_dgroup_relation ug ON ug.userid =1 AND ug.devicegroupid = dg.groupid AND ug.isenable = 1
		WHERE
			s.module_id = 16 AND s.isdelete = 0
		GROUP BY 
			s.id
	</select>
	<select id="selectSYAlarmForWeeken" resultType="com.hot.manage.entity.common.groupgk.AlarmHandleStatistics">
		select 
			temp2.TheDate,SUM(CASE WHEN temp2.handlestate = 0 AND temp2.groupid is not NULL THEN 1 ELSE 0 END) as unhandlecount,
			SUM(CASE WHEN temp2.handlestate=1 AND temp2.groupid is not NULL THEN 1 ELSE 0 END)as handlingcount,
			SUM(CASE WHEN temp2.handlestate=2 AND temp2.groupid is not NULL THEN 1 ELSE 0 END)as handlecount,
			SUM(CASE WHEN temp2.handlestate is not NULL AND temp2.groupid is not NULL THEN 1 ELSE 0 END) as  num
		FROM (
			SELECT
				temp1.TheDate, tda.handlestate,tda.moduleid,dgr.groupid
			FROM
				(
					SELECT
						ADDDATE(CURDATE(), INTERVAL @d DAY) AS TheDate ,@d :=@d - 1 DAY
					FROM
						t_power,
						(SELECT @d := 0) temp
					WHERE
						ADDDATE(CURDATE(), INTERVAL @d DAY) >= date_add(CURDATE(), INTERVAL - 6 DAY)
					ORDER BY
						DAY
				) temp1
			LEFT JOIN t_dev_alarm tda ON DATE_FORMAT(tda.addtime, '%Y-%m-%d') = temp1.TheDate AND tda.moduleid = 16
			LEFT JOIN t_device_group_relation dgr ON dgr.isdelete!=1 AND dgr.moduleid=16 AND dgr.deviceid=tda.deviceid <if test="groupid !=null and groupid !=''">AND dgr.groupid=#{groupid}</if>
			ORDER BY	
				TheDate
		) temp2
		GROUP BY temp2.TheDate
		ORDER BY temp2.TheDate	 desc
	</select>
</mapper>
	
