<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.manage.db.yg.YGDevMapper">
	<sql id="motab">
		<if test="moduleid==1">t_device_dc</if>
		<if test="moduleid==null">t_device_yg</if>
		<if test="moduleid==2">t_device_yg</if>
		<if test="moduleid==3">t_device_jg</if>
		<if test="moduleid==4">t_device_pm</if>
		<if test="moduleid==5">t_device_wt</if>
		<if test="moduleid==6">t_device_et</if>
		<if test="moduleid==7">t_device_sl</if>
		<if test="moduleid==8">t_device_hw</if>
		<if test="moduleid==9">t_device_ljt</if>
		<if test="moduleid==10">t_device_sj</if>
		<if test="moduleid==11">t_device_mc</if>
		<if test="moduleid==12">t_device_krq</if>
		<if test="moduleid==13">t_device_ywj</if>
	</sql>
	<!--用户下的设备id -->
	<sql id="udevid">
		select
		g.id,g.groupname,g.groupcode,g.x,g.y,g.managerid,g.itemnum,g.addtime,g.imgpath,dg.deviceid
		from t_user_dgroup_relation ug left join t_device_group g on
		ug.devicegroupid=g.id left join t_device_group_relation dg on
		g.id=dg.groupid
		where ug.isdelete=0 and ug.userid=#{userid} and
		g.isdelete=0 and g.moduleid=2 and dg.moduleid=2 and dg.isdelete=0
		<if test="groupid > 0">and dg.groupid=#{groupid}</if>
	</sql>
	<sql id="dev_videocount">
		select dv.deviceid,count(deviceid)dvcount from
		t_dev_video_relation dv where moduleid=2 and isdelete=0 group by
		deviceid
	</sql>
	<sql id="dev_mapimg">
		select dp.dev_id,dp.item_pic_id,p.picpath,p.site from
		t_dev_item_pic dp left join t_item_pic p on dp.item_pic_id=p.id where
		dp.moduleid=2 and dp.isdelete=0 and p.isdelete=0
	</sql>
	<!--===================================================================================== -->
	<!--设备查找 -->
	<select id="selectdevlist" resultType="com.hot.manage.entity.yg.YGDev">
		select
		d.id,newdev.groupname,d.devnum,d.mac,d.code,d.addtime,d.lng,d.lat,d.x,d.y,d.battery,d.own_id,t_user.contacts,newdv.dvcount,newpic.item_pic_id
		as mapimgid,newpic.site,newpic.picpath
		from (
		<include refid="udevid"></include>
		)as newdev
		left join t_device_yg d on d.id=newdev.deviceid and d.isdelete = 0 and d.isenable = 1
		left join
		t_user on d.own_id=t_user.id
		left join (
		<include refid="dev_videocount"></include>
		)as newdv on newdv.deviceid=d.id
		left join (
		<include refid="dev_mapimg"></include>
		)as newpic on newpic.dev_id=d.id
		where d.isdelete=0
		<if test="starttime!='' and starttime!=null">and d.addtime &gt;= #{starttime}</if>
		<if test="endtime!='' and endtime!=null">and d.addtime &lt;= #{endtime}</if>
		<if test="keywords!='' and  keywords!=null">and (d.mac LIKE CONCAT('%',#{keywords},'%') or d.devnum
			LIKE CONCAT('%',#{keywords},'%'))</if>
		<if test="batterytype==0">and d.battery > 0</if>
		<if test="batterytype==1">and d.battery &lt; 20</if>
		<if test="batterytype==2">and d.battery &gt;= 20</if>
		order by d.addtime desc
	</select>

	<!--根据id查设备 -->
	<select id="selectdevbyid" resultType="com.hot.manage.entity.yg.YGDevone">
		select
		d.id,d.devnum,d.mac,d.code,d.lng,d.lat,d.x,d.y,d.own_id,dg.groupid,dp.item_pic_id,p.picpath,t_user.contacts,GROUP_CONCAT(t666.`videoid`)
		AS videos
		from t_device_yg d
		left join t_device_group_relation dg on
		d.id=dg.deviceid
		left join t_device_group g on g.id=dg.groupid
		left join
		t_user on
		t_user.id=d.own_id
		left join t_dev_item_pic dp on
		d.id=dp.dev_id and
		dp.moduleid =
		dg.moduleid and dp.isdelete=0
		left join
		t_item_pic p on
		dp.item_pic_id=p.id and dp.moduleid=dg.moduleid
		LEFT
		JOIN t_dev_video_relation t666
		ON d.`id` = t666.`deviceid`
		AND t666.`moduleid` = 2
		LEFT JOIN t_device_video t888
		ON t666.`videoid` = t888.`id`
		AND t888.`isdelete` = 0
		where d.id=#{devid} and
		dg.moduleid=2
	</select>

	<!--修改设备 -->
	<update id="updatedev">
		UPDATE t_device_yg d
		<if test="groupid != null and groupid != ''">
			,t_device_group_relation dg
		</if>
		SET
		d.id = #{devid}
		<if test="devnum != null and devnum != ''">,d.devnum = #{devnum}</if>
		<if test="mac != null and mac != ''">,d.mac = #{mac}</if>
		<if test="code != null and code != ''">,d.code = #{code}</if>
		<if test="lng != null and lng != ''">,d.lng = #{lng}</if>
		<if test="lat != null and lat != ''">,d.lat = #{lat}</if>
		<if test="x != null and x != ''">,d.x = #{x}</if>
		<if test="y != null and y != ''">,d.y = #{y}</if>
		<if test="own_id != null and own_id != ''">,d.own_id = #{own_id}</if>
		<if test="groupid != null and groupid != ''">,dg.groupid = #{groupid}</if>
		WHERE d.id = #{devid}
		<if test="groupid != null and groupid != ''">
			and dg.deviceid = #{devid} and dg.moduleid = 2
		</if>
	</update>
	<insert id="insertsiterelation">
		INSERT INTO
		t_dev_item_pic(`item_pic_id`,`dev_id`,`moduleid`)VALUES(#{mapimgid},#{devid},2)
	</insert>
	<update id="updatesiterelation">
		UPDATE t_dev_item_pic SET item_pic_id = #{mapimgid}
		WHERE dev_id=#{devid} and moduleid=2
	</update>


	<!--修改设备mac -->
	<update id="updatedevmac">
		UPDATE t_device_yg SET mac = #{mac} WHERE id =
		#{devid}
	</update>

	<!--增加设备 -->
	<insert id="insertdev" keyProperty="id" useGeneratedKeys="true">
		INSERT
		INTO
		t_device_yg(`devnum`,`mac`,`code`,`lat`,`lng`,
		<if test="x != null and x != ''">`x`,</if>
		<if test="y != null and y != ''">`y`,</if>
		`adduserid`,`own_id`,`addtime`)VALUES(#{devnum},#{mac},#{code},#{lat},#{lng},
		<if test="x != null and x != ''">#{x},</if>
		<if test="y != null and y != ''">#{y},</if>
		#{userid},#{own_id},now())
	</insert>
	<insert id="insertgroup">
		INSERT INTO
		t_device_group_relation(`deviceid`,`addtime`,`moduleid`,`groupid`)VALUES(#{id},now(),2,#{groupid})
	</insert>
	<insert id="insertimggroup">
		INSERT INTO
		t_dev_item_pic(`item_pic_id`,`dev_id`,`moduleid`,`addtime`)VALUES(#{mapimgid},#{id},2,now())
	</insert>

	<!--删除设备 -->
	<update id="deldevice">
		UPDATE t_device_yg y , t_device_group_relation g SET
		g.isdelete
		=1,g.isenable=0 , y.isdelete
		=1,y.isenable=0 WHERE g.deviceid
		= #{deviceid} and g.moduleid=2 and y.id=#{deviceid}
	</update>
	<update id="deldevicepic">
		update t_dev_item_pic p set p.isdelete=1,
		p.isenable=0 where p.dev_id = #{deviceid} and p.moduleid = 2
	</update>

	<!--修改责任人 -->
	<update id="updateownid">
		UPDATE t_device_yg SET own_id=#{own_id} where id in
		<foreach collection="devids" item="item" open="(" separator=","
			close=")"> #{item}</foreach>
	</update>

	<select id="selectDevForGroup" resultType="com.hot.manage.entity.yg.TDeviceYg">
		SELECT y.* FROM
		<include refid="motab"></include>
		as y
		LEFT JOIN t_device_group_relation r ON r.deviceid=y.id AND
		r.isenable=1
		right join t_user_dgroup_relation u on u.userid =
		#{userid} and
		u.devicegroupid = r.groupid and u.isenable=1
		WHERE
		r.groupid=#{groupid}
		AND y.isenable=1
	</select>

	<insert id="insertvideoRe">
		INSERT INTO `t_dev_video_relation` (`deviceid`,
		`videoid`, `isdelete`, `moduleid`)
		VALUES ( #{devid}, #{videoid}, '0',
		#{moduleid})
	</insert>
</mapper>