* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "寰蒋闆呴粦";
  font-size: 14px;
  background: url(../images/login_bg.jpg) fixed center center;
}

.logo_box {
  width: 21%;
  height: 40vh;
  padding: 35px;
  color: #EEE;
  position: absolute;
  left: 50%;
  top: 100px;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);  /*鍏煎-webkit-寮曟搸娴忚鍣�*/
  -moz-transform:translateX(-50%);     /*鍏煎-moz-寮曟搸娴忚鍣�*/
  background:rgba(0,0,0,0.5);
}

.logo_box h1 {
  font-size:0.4rem;
  text-align: center;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.logo_box #tips{
	margin-bottom:2%;
	color:rgb(255,0,0,1);
	visibility:hidden;
	font-size:0.2rem;
}

.forms {
  width: 280px;
  height: 485px;
}

.logon_inof {
  width: 100%;
  min-height: 450px;
  padding-top: 35px;
  position: relative;
}

.input_outer {
  height: 0.65rem;
  padding: 0 5px;
  margin-bottom: 3vh;
  border-radius: 8px;
  position: relative;
  border: rgba(255, 255, 255, 0.2) 2px solid !important;
}

.u_user {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 0.2rem;
  font-size: 0.3rem !important;
}

.l-login {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 0;
  height: 46px;
  font: 14px "microsoft yahei", Helvetica, Tahoma, Arial,
  "Microsoft jhengHei";
  line-height: 46px;
}

label {
  color: rgb(255, 255, 255);
  display: block;
}

.text {
  width: 220px;
  height: 0.65rem;
  outline: none;
  display: inline-block;
  font: 14px "microsoft yahei", Helvetica, Tahoma, Arial,
  "Microsoft jhengHei";
  margin-left: 4vw;
  border: none;
  background: none;
  line-height: 0.1rem;
  font-size:0.2rem;
}

.act-but {
  font-size: 0.3rem;
  border-radius: 7px;
  background: #0096e6;
  border: none;
  width: 100%;
  height: 0.65rem;
  cursor: pointer;
  outline: none;
}

.act-but:HOVER {
  opacity: 0.7;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
}

input[placeholder], [placeholder], *[placeholder] {
  color: #fff !important;
}

.actions {
  text-align: center;
  margin: 20px;
}

.actions a {
  color: #FFFFFF;
  text-decoration: none;
}

.actions a:hover {
  color: #ff6600;
}