<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.manage.db.ywj.LKTYWJItemMapper">

	<select id="LKTYWJDevNum" resultType="com.hot.manage.entity.ywj.LKTYWJDevNum">
		SELECT COUNT(1) as devnum
		FROM t_device_group_relation g
		LEFT JOIN t_user_dgroup_relation ug on ug.userid = #{userid} and ug.isdelete = 0 and ug.isenable = 1
		LEFT JOIN t_device_ywj j on j.isdelete = 0 and j.isenable = 1 and j.id = g.deviceid 
		WHERE g.moduleid = #{moduleid} and g.isdelete = 0 and g.isenable = 1 and g.groupid = ug.devicegroupid
	</select>
	<select id="LKTYWJItemList" resultType="com.hot.manage.entity.ywj.LKTYWJItemList">
		SELECT tg.id as id , tg.imgpath as imgpath , tg.itemnum as itemnum ,
		tg.groupname as groupname , tg.groupcode as groupcode , COUNT(g.id) as
		devnum ,
		u.contacts as contacts , tg.addtime as addtime , tg.x as x , tg.y as y
		FROM t_device_group tg
		RIGHT JOIN t_user_dgroup_relation ug on ug.userid = #{userid} and ug.devicegroupid =
		tg.id
		LEFT JOIN t_device_group_relation g on g.moduleid = #{moduleid} and
		g.isdelete = 0 and g.isenable = 1 and g.groupid = tg.id 
		LEFT JOIN t_user u on u.id = tg.managerid
		WHERE tg.isdelete = 0 and tg.isenable = 1 and tg.moduleid = #{moduleid}
		<if test="Starttime!='' and Starttime!=null">
			and tg.addtime &gt;= #{Starttime}
		</if>
		<if test="Endtime!='' and Endtime!=null">
			and tg.addtime &lt;= #{Endtime}
		</if>
		<if test="context!='' and context!=null">
			and tg.groupname LIKE CONCAT('%',#{context},'%') or tg.itemnum LIKE CONCAT('%',#{context},'%') 
		</if>
		GROUP BY tg.id
		ORDER BY tg.id
	</select>
	<select id="LKTYWJGroupListOnid" resultType="com.hot.manage.entity.ywj.LKTYWJGroupList">
		SELECT g.id as id , g.groupname as groupname, g.groupcode as groupcode ,GROUP_CONCAT(p.id) as
		itempicid , GROUP_CONCAT(p.picpath) as picpath , GROUP_CONCAT(p.site)
		as site , g.x as lng , g.y as lat , g.itemnum as itemnum , u.contacts as contacts,
		g.addtime as addtime , g.imgpath as imgpath
		FROM t_device_group g
		RIGHT JOIN t_user_dgroup_relation ug on ug.userid =  #{userid} and ug.devicegroupid = g.id and ug.isdelete = 0 and ug.isenable = 1
		LEFT JOIN t_item_pic p on p.itemid = g.id
		LEFT JOIN t_user u on u.id = g.managerid 
		WHERE g.isdelete = 0 and g.moduleid = #{moduleid}
		<if test="id!=null">
			and g.id = #{id}
		</if>
		<if test="groupname!='' and groupname!=null">
			and g.groupname = #{groupname}
		</if>
		<if test="itemnum!='' and itemnum!=null">
			and g.itemnum = #{itemnum}
		</if>
		GROUP BY g.id
	</select>
	<update id="LKTYWJDeleteItem">
		UPDATE t_device_group t
		SET t.isdelete = 1, t.isenable =0
		WHERE t.id = #{id}
	</update>
	<update id="LKTYWJDeleteItemPic">
		UPDATE t_item_pic p
		SET p.isenable = 0, p.isdelete = 1
		WHERE p.itemid = #{id}
	</update>
	<select id="LKTDeleteItemcondition" resultType="com.hot.manage.entity.yg.LKTCode">
		SELECT COUNT(1) as code
		FROM t_device_group_relation t
		WHERE t.groupid = #{id} and t.isdelete = 0 and t.isenable = 1
	</select>
	<select id="LKTYWJItemListMap" resultType="com.hot.manage.entity.ywj.LKTYWJItemListMap">
		SELECT g.id as id , g.groupname as groupname , g.x as x , g.y as y, g.groupcode as groupcode , 
		g.coordinate as coordinate , g.addtime as addtime, g.adduserid as adduserid , g.managerid as managerid ,
		g.cityid as cityid , g.imgpath as imgpath , g.itemnum as itemnum , u.contacts , u.telephone1 as telephone,
		count(tg.id) as allCount,
		SUM(CASE WHEN j.state= 1 THEN 1 ELSE 0 END) as alarmCount,
		SUM(CASE WHEN j.state= 2 THEN 1 ELSE 0 END) as faultCount
		FROM t_device_group g
		RIGHT JOIN t_user_dgroup_relation ug on ug.userid = #{userid} and
		ug.isdelete = 0 and ug.isenable = 1 and ug.devicegroupid = g.id
		LEFT JOIN t_device_group_relation tg on tg.groupid = ug.devicegroupid and
		tg.isdelete = 0 and tg.moduleid = #{moduleid}
		LEFT JOIN t_device_ywj j on j.id = tg.deviceid
		LEFT JOIN t_user u on u.id = g.managerid
		WHERE g.moduleid = #{moduleid}
		GROUP BY g.id
	</select>
	<insert id="LKTYWJAddGroup" keyProperty="id" useGeneratedKeys="true">
			INSERT INTO t_device_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="moduleid != null">
				moduleid,
			</if>
			<if test="groupname != null">
				groupname,
			</if>
			<if test="fatherid != null">
				fatherid,
			</if>
			<if test="groupcode != null">
				groupcode,
			</if>
			<if test="x != null">
				x,
			</if>
			<if test="y != null">
				y,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
			<if test="userid != null">
				adduserid,
			</if>
			<if test="managerid != null">
				managerid,
			</if>
			<if test="cityid != null">
				cityid,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="imgpath != null">
				imgpath,
			</if>
			<if test="itemnum != null">
				itemnum,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="moduleid != null">
				#{moduleid},
			</if>
			<if test="groupname != null and groupname != ''">
				#{groupname},
			</if>
			<if test="fatherid != null">
				#{fatherid},
			</if>
			<if test="groupcode != null and groupcode != ''">
				#{groupcode},
			</if>
			<if test="x != null and x != ''">
				#{x},
			</if>
			<if test="y != null and y != ''">
				#{y},
			</if>
			<if test="addtime != null and addtime != ''">
				#{addtime},
			</if>
			<if test="userid != null">
				#{userid},
			</if>
			<if test="managerid != null">
				#{managerid},
			</if>
			<if test="cityid != null">
				#{cityid},
			</if>
			<if test="count != null">
				#{count},
			</if>
			<if test="imgpath != null and imgpath != ''">
				#{imgpath},
			</if>
			<if test="itemnum != null and itemnum != ''">
				#{itemnum},
			</if>
		</trim>
	</insert>
	<insert id="LKTYWJAddGroupUser">
			INSERT INTO t_user_dgroup_relation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="id != null">
				devicegroupid,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
			<if test="userid != null">
				adduserid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="userid != null">
					#{userid},
				</if>
				<if test="id!=null">
					#{id},
				</if>
				<if test="addtime!=null and addtime!=''">
					#{addtime},
				</if>
				<if test="userid!=null">
					#{userid},
				</if>
		</trim>
	</insert>
	<insert id="LKTYWJAddGroupPic">
		INSERT INTO t_item_pic(picnum,picpath,site,itemid,addtime)
		VALUES(#{picnum},#{picpath},#{site},#{id},#{addtime})
	</insert>
	<update id="LKTYWJUpdateItem">
		UPDATE t_device_group t
		SET t.id = t.id
		<if test="imgpath!='' and imgpath!=null">
			, t.imgpath = #{imgpath}
		</if>
		<if test="itemnum!='' and itemnum!=null">
			, t.itemnum = #{itemnum}
		</if>
		<if test="groupname!='' and groupname!=null">
			, t.groupname = #{groupname}
		</if>
		<if test="groupcode!='' and groupcode!=null">
			, t.groupcode = #{groupcode}
		</if>
		<if test="contactsid!='' and contactsid!=null">
			, t.managerid = #{contactsid}
		</if>
		<if test="x!='' and x!=null">
			, t.x = #{x}
		</if>
		<if test="y!='' and y!=null">
			, t.y = #{y}
		</if>
		WHERE t.id = #{itemid}
	</update>
	<update id="LKTYWJUpdateItemDelPic">
		UPDATE t_item_pic p 
		SET p.isdelete = 1 , p.isenable = 0
		WHERE p.itemid = #{itemid}
	</update>
	<update id="LKTYWJUpdateItemPic">
		UPDATE t_item_pic p 
		SET p.isdelete = 0 , p.isenable = 1
		<if test="picnum!='' and picnum!=null">
		, p.picnum = #{picnum}
		</if>
		<if test="picpath!='' and picpath!=null">
		, p.picpath = #{picpath}
		</if>
		<if test="addtime !='' and addtime !=null">
		, p.updatetime = #{addtime}
		</if>
		WHERE p.site = #{site} and p.itemid = #{itemid}
	</update>
</mapper>