<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.manage.db.common.alarm.StateMapper">
	<select id="checkState" resultType="int">
		select SUM(id) as `sum` FROM
		(
		select count(ya.id) as
		id FROM t_dev_alarm ya WHERE
		ya.alarmStateId=#{stateid})a
	</select>
</mapper>