<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.manage.db.Chat.TChatOneLogMapper">
	<select id="selectChatRecord" resultType="com.hot.manage.entity.Chat.Record.ChatRecord">
		select *
		from t_chat_one_log tcol 
		WHERE tcol.senderid=#{senderid} AND tcol.targetid=#{targetid}
		<if test="type != null and type != ''">
			AND type=#{type}
		</if>
		order by tcol.sendtime desc	
	</select>
</mapper>