<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcomm.prevention.db.mysql.common.TNewsMapper">
	<select id="queryPageNotices" resultType="com.hotcomm.prevention.bean.mysql.common.entity.TNews">
		SELECT * FROM t_news WHERE 1=1
		<if test="starttime!=null and starttime!=''">
			AND DATE(AddTime) &gt;=#{starttime}
		</if>
		<if test="endtime!=null and endtime!=''">
			AND DATE(AddTime) &lt;=#{endtime}
		</if>
		<if test="context!=null and context!=''">
			AND (Titel LIKE CONCAT('%',#{context},'%') OR Source LIKE
			CONCAT('%',#{context},'%'))
		</if>
		ORDER BY ID DESC
	</select>
	<select id="selectLastOne" resultType="com.hotcomm.prevention.bean.mysql.common.entity.TNews">
		SELECT ID, Titel, Introduce, MinImgUrl,Source, Sort, Type , PublishTime , IsShowIndex , IsEnable ,
		AddTime , AddUserID FROM t_news
		ORDER BY ID DESC
		LIMIT 1
	</select>
</mapper>