<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcomm.prevention.db.mysql.common.TUserDgroupRelationMapper">
	<insert id="insertBatchData">
		insert into t_user_dgroup_relation
		(userid,devicegroupid,addtime,adduserid)
		values
		<foreach collection="params" item="item" index="index"
			separator=",">
			(#{item.userid},#{item.devicegroupid},#{item.addtime},#{item.adduserid})
		</foreach>
	</insert>
	<select id="selectDevGroup" resultType="com.hotcomm.prevention.bean.mysql.manage.group.entity.TDeviceGroup">
		SELECT g.* FROM t_device_group g
		LEFT JOIN t_user_dgroup_relation r ON r.devicegroupid=g.id AND r.isenable=1 
		WHERE r.userid=#{userid}
		AND g.isenable=1
		AND g.moduleid=#{moduleid}
	</select>
</mapper>