<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="common">
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
</head>
<script type="text/javascript" src="/static/js/system/log.js"></script>

<body style="height: 100%;">
    <div class="easyui-layout">
        <div id="log_search" data-options="region:'north',border:false" style="padding: 10px;overflow: hidden;">
            <form id="log_search_from" class="searcher-form">
                <input name="recordUser" class="easyui-textbox field" label="操作人:" labelWidth="45" />
                <input name="startTime" class="easyui-datebox field" id="datetime" label="起始时间:" labelWidth="65" style="width:15%" />
                <input name="endTime" class="easyui-datebox field" id="datetime" label="结束时间:" labelWidth="65" style="width:15%" />
                <a id="log_search_button" class="easyui-linkbutton searcher" data-options="iconCls:'fa fa-search'">检索</a>
                <a id="log_reset_button" class="easyui-linkbutton reset" data-options="iconCls:'fa fa-repeat'">重置</a>
            </form>
        </div>
        <div>
            <table class="easyui-datagrid" style="" id="log_datagrid"></table>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".layout-panel").css("position", "static");
        });
    </script>
    <script th:inline="javascript">
        window.onload = function () {
            var keys = [[${keys}]];
            setKeys(keys);
        }
    </script>
</body>

</html>